﻿<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />@{/* Allow website into full-screen mode on iOS */}
<meta name="mobile-web-app-capable" content="yes">@{/* Allow website to be bookmarked on phone */}
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />@{/* Don't use any sort of compatability views in IE, allow ChromeFrame to work if available */}
<meta name="format-detection" content="telephone=no">@{/* Disable auto detection of phone-number looking values on the page on iOS */}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
