﻿@{
    Layout = null;
    var environment = System.Configuration.ConfigurationManager.AppSettings.Get("Environment");
    var webAssembly = typeof(PENPals.Web.Controllers.AccountController).Assembly;
    var webAssemblyVersion = webAssembly.GetName().Version.ToString();
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_HeadMetaTags")
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.png")" type="image/png" />

    <title>PENPals</title>

    @System.Web.Optimization.Styles.Render("~/Content/css")

    @if (environment == "Production")
    {
        @Html.Partial("_GoogleAnalytics")
    }
    @if (environment != "Production")
    {
        @Html.Partial("_Watermarker", environment)
    }
</head>
<body>
    @Html.Partial("_BrowserCheck")
    @if (Request.IsAuthenticated)
    {
        var user = User.Identity as MNIT.Web.Security.Models.MnitIdentity<System.Int32>;
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><i class="fa fa-battery-half"></i> PENPals</a>
                </div>


                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        @foreach (var menuItem in Context.Cache["MenuItems"] as List<PENPals.Web.App_Start.SimpleMenuItem>)
                        { if(!user.IsAdmin && menuItem.AdminOnly) { continue; }
                            <li>
                                <a href="@menuItem.LinkUrl">@menuItem.LinkText</a>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            @* Keep the link outside the form so the styles woprk as expected*@
                            <a href="javascript:document.getElementById('logoutForm').submit()" id="btnLogout"><i class="fa fa-arrow-left"></i>&nbsp;Logout</a>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    }

    <header></header>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="footer navbar-fixed-bottom hidden-xs hidden-sm">
        <span>PENPals @webAssemblyVersion &#169; @DateTime.Now.Year - Metro North IT</span>
        <span class="pull-right pad-right">
            @*@Html.Partial("_LastLoginPartial")*@
        </span>
    </footer>
    @System.Web.Optimization.Scripts.Render("~/Scripts/core")

    @RenderSection("scripts", false)
</body>
</html>
