﻿@model MNIT.Web.Security.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var environment = System.Configuration.ConfigurationManager.AppSettings.Get("Environment");
}

<div class="jumbotron">
    <h1>@Html.ActionLink("PENPals", "Index", "Home", null, new { @class= "unstyled" })</h1>
    <p>PENPals is a Visual Studio template to assist in kick-starting your development activity. Follow the guides!</p>
    <p>
        Developed for Metro North HHS
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <p class="col-sm-offset-2 col-sm-8 text-center">Please enter your Novell username and password.</p>
            </div>

            <div class="row">
                <div class="text-center col-sm-offset-2 col-sm-8">@Html.ValidationSummary(true)</div>
            </div>

            <div class="row form-group">
                <div class="col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-1">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-offset-2 col-sm-2 col-lg-offset-3 col-lg-1">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-offset-5 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Sign In&nbsp;<i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">

        <p>Detailed auditing capacity is utilised to confirm records are accessed appropriately.</p>
        <p>If you have forgotten your Novell username or password please contact the InfoService Centre on 1800 198 175 for assistance.</p>
        <div class="small">
            Users accessing this application are reminded of their responsibilities under the Queensland Health Code of Conduct.  In particular:
            <ul>
                <li>You should only access a patient’s record when it is part of your duties, it is a legal requirement, or when specific consent is given</li>
                <li>Patient information <strong>must not</strong> be made available to any person or authority other than those staff responsible for the health care of the patient, unless authorised through existing policy, legislation and standards</li>
                <li>Users should not leave this application unattended - always “logout”</li>
                <li>Users <strong>must not</strong> share passwords.</li>
            </ul>
        </div>
    </div>
</div>
