﻿@model IEnumerable<string>

@{
    ViewBag.Title = "Reference Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reference Data</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/@item">@item</a>
        </li>
    }

</ul>
