﻿//
//Don't remove this!
//Buy this theme on http://www.bootstraptor.com
//

//
// Load core variables and mixins
// --------------------------------------------------
@import "bootstrap/bootstrap.less";
@import "variables.less";
@import "bootstrap/mixins.less";

.color-fade() {
	-moz-transition: color 200ms ease-out, background 200ms ease-out;
	-o-transition: color 200ms ease-out, background 200ms ease-out;
	-webkit-transition: color 200ms ease-out, background 200ms ease-out;
	transition: color 200ms ease-out, background 200ms ease-out;
}

body {
	background: @body-bg url(/content/images/mnhhs-tiles.gif) top right no-repeat;
}

label, .control-label {
	padding-top: 3px !important; //align the labels with the text in the textboxes alongside
}

.label-align { //used for raw text alongside a label
	padding-top: 3px !important;
}

.navbar-default .navbar-toggle {
	margin-top: 5px;
}

.patient-list li {
	-moz-transition: top linear 0.5s;
	-o-transition: top linear 0.5s;
	-webkit-transition: top linear 0.5s;
	transition: top linear 0.5s; //animate the list collapsing when a patient is removed
}

li.divider {
	.nav-divider();
}

textarea {
    resize: vertical;
}

// move navbar from top to bottom on phones
@media (min-width: @screen-sm ) { // big screens

	.navbar-default {
		border-bottom: 2px solid darken(@navbar-default-bg, 10%) !important;
	}

	.navbar {
		.navbar-static-top;
		border-radius: 0;
	}

	label, .control-label {
		text-align: right;
	}
}

@media (max-width: @screen-sm) { // small screens

	body {
		padding-top: 20px; //account for lack of navbar
		padding-bottom: 70px; // make room for navbar
	}

	.unresponsive {
		display: inline-block !important; // don't collapse
	}

	.navbar-default {
		border-top: 2px solid greyscale(@metro-north-8) !important;
	}

	.navbar {
		.navbar-fixed-bottom; //look like a mobile-app menu bar.
		border-radius: 0;
		font-size: @font-size-large; //larger hit targets
		.navbar-nav.navbar-no-collapse {
			//stolen from the 'uncollapse' code in navbar.less
			float: left;
			margin: 0;

			> li {
				float: left;

				> a {
					padding-top: ((@navbar-height - @line-height-computed) / 2);
					padding-bottom: ((@navbar-height - @line-height-computed) / 2);
				}
			}
		}
		// don't waste space on our name
	}

	label, .control-label {
		text-align: left; //left align if collapsed
		//padding-left: 0px;
	}
}
// validation styling
.validation-summary-errors {

	ul {
		list-style-type: none;

		li {
			.alert;
			.alert-danger;
		}
	}
}

	.validation-summary-errors li.alert-error {
		background: none;
		border: none;
		margin-bottom: 0;
	}

.field-validation-error {
	color: @alert-danger-text;
}

// make disabled buttons REALLY obvious
.btn {
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		.opacity(.35);
	}
}

a > .muted {
	color: @text-muted;
}



//Original theme below this point, but it has been customised
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Typography
//---------------------------------------------------



.jumbotron {
	h1, h2, h3, h4, h5, h6 {
		text-shadow: 0 -1px 0 rgba(0,0,0, .5);
	}
}





//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	//-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	//text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	@shadow: inset 0 -2px 1px rgba(0,0,0,.35);
	.box-shadow(@shadow);
	// Reset the shadow
	&:active,
	&.active {
		.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}

	&:hover {
		@shadow: inset 0 -3px 0 rgba(0,0,0,.65);
	}

		&:hover + &:active {
			.box-shadow(inset 0 2px 5px rgba(0,0,0,.125));
		}
}


.btn {
	.color-fade();
	border-radius: @border-radius-large;
}

.navbar-btn {
	color: @metro-north-8;
	margin-top: 0;
}


// fix dropdown btn in .navbar-btn .dropdown-toggle .btn-sm usage case
.btn-group .btn + .btn.navbar-btn {
	margin-top: 8px;
}

//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
	.box-shadow(0 -3px 0px rgba(0,0,0,.1) inset);
}



//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	#gradient > .vertical(@start-color: @dropdown-link-hover-bg;
	@end-color: darken(@dropdown-link-hover-bg, 5%)
	);
	background-color: darken(@dropdown-link-hover-bg, 5%);
}



//
// Navbar
// --------------------------------------------------

// Basic navbar
.navbar {
	border-bottom: 0px;
	color: #fff;

	a {
		color: #f0f0f2 !important;
	}

	.navbar-default .navbar-toggle {
		margin-top: 5px;
	}

	.navbar-brand,
	.navbar-nav > li > a {
		.color-fade();
	}

	.navbar-nav > .active > a {
		background-color: @metro-north-6;
		color: @metro-north-2 !important;
	}

	.navbar-nav > li > a:hover {
		background-color: @metro-north-5;
		color: @metro-north-2 !important;
	}

	.navbar-nav > .active > a:hover {
		color: @metro-north-8 !important;
	}
}


// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
	border-radius: 0;
}


//
// Tabs
//--------------------------------------------------
.nav-tabs {
	margin-bottom: 15px;

	li.active>a {
		

		box-shadow:  -5px 2px 3px -3px rgba(0,0,0,0.1), 
					  5px 2px 3px -3px rgba(0,0,0,0.1);
	}
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.2);
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
	@shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
	.box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
	#gradient > .vertical(@start-color: @color;
	@end-color: darken(@color, 7.5%)
	);
	border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success {
	.alert-styles(@alert-success-bg);
}

.alert-info {
	.alert-styles(@alert-info-bg);
}

.alert-warning {
	.alert-styles(@alert-warning-bg);
}

.alert-danger {
	.alert-styles(@alert-danger-bg);
}



//
// List groups
// --------------------------------------------------

.list-group {
	border-radius: @border-radius-base;
	//.box-shadow(0 1px 2px rgba(0,0,0,.075));  //remmed for paint performance, difference between 30msec paints and 7msec on my desktop
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
	background: @brand-primary;
	color: #ccc;
	border-color: darken(@list-group-active-border, 7.5%);
}




//
// Panels
// --------------------------------------------------

// Common styles
.panel {
	//.box-shadow(0px 0px 25px rgba(0,0,0,.15) );
	.box-shadow(0 2px 0 rgba(0,0,0,.35));
}

// Panel headings only
.panel-default {
	background: @panel-default-bg;
	color: @panel-default-text;
	border-color: @panel-default-border-color;
}

.panel-primary {
	background: @panel-primary-bg;
	border-color: @panel-primary-border;
	color: @panel-primary-text;
}

.panel-success {
	background: @panel-success-bg;
	border-color: @brand-success;
	color: @panel-success-text;
}

.panel-info {
	background: @panel-info-bg;
	border-color: @panel-info-border;
	color: @panel-info-text;
}

.panel-warning {
	background: @panel-warning-bg;
	border-color: @panel-warning-border;
	color: @panel-warning-text;
}

.panel-danger {
	background: @panel-danger-bg;
	border-color: @panel-danger-border;
	color: @panel-danger-text;
}

.panel-default > .panel-heading {
	text-transform: uppercase;
	border-color: lighten(@gray-dark, 50%);
	-webkit-text-shadow: 1px 1px 0px #fff;
	text-shadow: 1px 1px 0px #fff;
}

.panel-primary > .panel-heading {
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: @panel-primary-heading-bg;
}

.panel-success > .panel-heading {
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: @panel-success-heading-bg;
}

.panel-info > .panel-heading {
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: @panel-info-heading-bg;
}

.panel-warning > .panel-heading {
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: @panel-warning-heading-bg;
}

.panel-danger > .panel-heading {
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: @panel-danger-heading-bg;
}

.panel-default > .panel-footer {
	background: @panel-default-footer-bg;
	color: @panel-default-text;
}

.panel-primary > .panel-footer {
	background: @panel-primary-footer-bg;
	border: none;
	color: @panel-primary-text;
}

.panel-success > .panel-footer {
	background: @panel-success-footer-bg;
	border: none;
	color: @panel-success-text;
}

.panel-info > .panel-footer {
	background: @panel-info-footer-bg;
	border: none;
	color: @panel-info-text;
}

.panel-warning > .panel-footer {
	background: @panel-warning-footer-bg;
	border: none;
	color: @panel-warning-text;
}

.panel-danger > .panel-footer {
	background: @panel-danger-footer-bg;
	border: none;
	color: @panel-danger-text;
}

.panel-default,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {
	.list-group-item.active {
		color: #fff;
	}
}

.panel-default,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {
	.list-group-item {
		color: @brand-primary;
	}
}

.panel-default,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {
	.lead {
		text-shadow: 0 1px 0px rgba(250,250,250, .3);
	}
}


.footer {
  color: #73A6A8; 
  padding: 2px 5px;
  background-color: #fff;
  border-top: 1px solid #0094a4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
}