﻿@model IEnumerable<PENPals.Domain.Models.Patient>

@{
    ViewBag.Title = "List Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>List Patients</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.URNs)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstNames)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            Indigenous Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.URNs)</td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @if (item.Gender != null)
                {
                    @Html.DisplayFor(modelItem => item.Gender.Name)
                }
            </td>
            <td>
                @if (item.IndigenousStatu != null)
                {
                    @Html.DisplayFor(modelItem => item.IndigenousStatu.Name)
                }
            </td>
            <td>
                @Html.ActionLink("PENPals Record", "Edit", "CoreRecord", new { id = item.CoreRecordId }, null)
            </td>
        </tr>
    }

</table>

<h3>Find New Patient</h3>

<form>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <label for="facility" class="control-label">Facility:</label>
            </div>
            <div class="col-md-12">
                <select class="form-control" required="required" id="facilityHicCode">
                    <option id="">Please select...</option>
                    @foreach (var facility in ViewBag.refFacilities as SelectList)
            {
                        <option value="@facility.Value">@facility.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <label for="urn" class="control-label">URN:</label>
            </div>
            <div class="col-md-12">
                <input type="text" data-bind="value: urn" name="urn" maxlength="10" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <label for="search" class="control-label">&nbsp;</label>
            </div>
            <div class="col-md-12">
                <button type="submit" id="search" class="btn btn-default" data-bind="click: searchByUr">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-3" data-bind="visible: searchResultName">
        <label class="control-label">Search Result</label>
        <p data-bind="text: searchResultName">
        </p>
        <p data-bind="text: searchResultUrns">
        </p>
        <p data-bind="text: searchResultDoB">
        </p>
        <p data-bind="text: searchResultSex">
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-3" data-bind="visible: hasResults">
        @using (Html.BeginForm("ConfirmPatient", "Patient"))
            {
            @Html.AntiForgeryToken()
            <input type="hidden" data-bind="value: searchResultCDN" name="cdn" />
            <button type="submit" class="btn btn-default">Confirm Patient</button>


        }
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var configuration = {
            SearchByUrEndpoint: '@Url.Action("SearchByUr")',
            FacilityHicCodeSelector: 'facilityHicCode'
        };
        ko.applyBindings(PENPals.PatientSearch.VM(configuration));
    </script>
}
